*.aux
*.log
*.bcf
*.out
*.run.xml
*.gz
*.synctexgz
*.toc
*.bbl
*.blg

*.aux
*.log
*.bcf
*.out
*.run.xml
*.gz
*.synctexgz
*.toc
*.fls
*latexmk
*svg-inkscape*
*.log
*.xml
*.out
*.aux
*Zone.Identifier
.idea

.DS_Store
*.bkp
*.dtmp

prog/images
